.DS_Store
composer.lock
vendor
node_modules/*
.idea

# Include specific files from jquery.payment
!node_modules/jquery.payment/
node_modules/jquery.payment/*
!node_modules/jquery.payment/lib
node_modules/jquery.payment/lib/*
!node_modules/jquery.payment/lib/jquery.payment.min.js
