.nails-invoice {
    width: 100%;
    max-width: 500px;
    position: relative;

    @media only screen and (min-width: 500px) {
        left: 50%;
        transform: translateX(-50%);
    }

    .logo {
        margin: 2rem 0;
        text-align: center;

        img {
            max-width: 50%;
        }
    }

    &.pay {
        &.shake {
            perspective: 800px;

            .shakeable {
                animation-duration: 400ms;
                animation-timing-function: ease-in-out;
                animation-name: panelShakeAnimation;
            }
        }

        .js-invoice-cc-num {
            padding-right: 50px;
            background-size: 32px 32px;
            background-repeat: no-repeat;
            background-position: right 5px center;

            &.amex {
                background-image: url('../img/cards-64x64/amex.png');
            }

            &.dinersclub {
                background-image: url('../img/cards-64x64/dinersclub.png');
            }

            &.discover {
                background-image: url('../img/cards-64x64/discover.png');
            }

            &.jcb {
                background-image: url('../img/cards-64x64/jcb.png');
            }

            &.maestro {
                background-image: url('../img/cards-64x64/maestro.png');
            }

            &.mastercard {
                background-image: url('../img/cards-64x64/mastercard.png');
            }

            &.unionpay {
                background-image: url('../img/cards-64x64/unionpay.png');
            }

            &.visa,
            &.visaelectron {
                background-image: url('../img/cards-64x64/visa.png');
            }
        }

        .js-invoice-cc-cvc {
            padding-right: 50px;
            background-size: 32px 32px;
            background-repeat: no-repeat;
            background-position: right 5px center;

            &.amex {
                background-image: url('../img/cvc-64x64/amex.png');
            }

            &.other {
                background-image: url('../img/cvc-64x64/other.png');
            }
        }
    }

    &.pending {
        .list-group {
            margin-bottom: 0;
        }
    }

    &.paid {
        h3 {
            margin: 0;
            margin-bottom: 0.5em;
        }
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    @keyframes panelShakeAnimation {
        0% {
            transform: translateX(0);
        }
        12.5% {
            transform: translateX(-6px) rotateY(-5deg);
        }
        37.5% {
            transform: translateX(5px) rotateY(4deg);
        }
        62.5% {
            transform: translateX(-3px) rotateY(-2deg);
        }
        87.5% {
            transform: translateX(2px) rotateY(1deg);
        }
        100% {
            transform: translateX(0);
        }
    }
}
