.nailsapp-invoice {
    &.pay {
        .driver-select,
        .card-select {
            display: block;
            input {
                margin-right: 0.5em;
                display: inline-block;
            }
            .text-muted {
                display: inline-block;
                margin-left: 1em;
            }
        }
        .form-group {
            .alert {
                padding: 0.5em 0.75em;
                margin-top: 0.5em;
            }
        }
    }
}